.DS_Store
node_modules
/build
/package
.env
.env.*
!.env.*example
licenses.json

# temp folders
_ref/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
/.firebase

# Firebase config
# Runtime data
pids
*.pid
*.seed
*.pid.lock